# https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
# https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/

apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
skipPhases: 
  - addon/kube-proxy    # skip in favor of cilium
nodeRegistration:
  kubeletExtraArgs:   # https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
    # not sure how to add node-label in KubeletConfiguration
    node-labels: node.{{ config.label_domain }}/lifetime=persistent

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: {{ config.control_plane_endpoint }}:{{ config.apiserver_port }}
networking:
  # serviceSubnet: config.cluster_ipv4_service_cidrs
  # podSubnet: config.cluster_ipv4_pod_cidrs
  dnsDomain: {{ config.dns_domain }}
etcd:             # https://github.com/etcd-io/etcd/blob/main/etcd.conf.yml.sample
  local:
    extraArgs:
      tls-min-version: TLS1.3
apiServer:
  extraArgs:
    tls-min-version: VersionTLS13
controllerManager:
  extraArgs:
    tls-min-version: VersionTLS13
scheduler:
  extraArgs:
    tls-min-version: VersionTLS13
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration                # https://pkg.go.dev/k8s.io/kubelet/config/v1beta1#KubeletConfiguration
tlsMinVersion: VersionTLS13
containerRuntimeEndpoint: 'unix:///run/containerd/containerd.sock'
authentication:
  anonymous:
    enabled: false